<%- include('header') %>

    <div class="box" id="heading">
      <h1>About</h1>
    </div>

    <div class="box">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non cum
        inventore repudiandae incidunt eaque quidem eveniet. Tenetur magni
        eveniet molestiae minus quos ab facilis error ipsum, assumenda at nemo
        eum.
      </p>
    </div>

<%- include('footer') %>